stages:
  - build order-service

build:
  stage: build order-service
  image: mcr.microsoft.com/dotnet/sdk:6.0
  needs: []
  script:
    - dotnet restore src/Ozon.Route256.Five.OrderService/Ozon.Route256.Five.OrderService.Web.csproj
    - dotnet build src/Ozon.Route256.Five.OrderService/Ozon.Route256.Five.OrderService.Web.csproj --no-restore

test:
  stage: build order-service
  image: mcr.microsoft.com/dotnet/sdk:6.0
  needs: []
  script:
    - dotnet restore tests/Ozon.Route256.Five.OrderService.Tests/Ozon.Route256.Five.OrderService.Tests.csproj
    - dotnet test tests/Ozon.Route256.Five.OrderService.Tests/Ozon.Route256.Five.OrderService.Tests.csproj --no-restore