stages:
  - build order-service

build:
  stage: build order-service
  image: mcr.microsoft.com/dotnet/sdk:6.0
  needs: []
  script:
    - dotnet restore src/Ozon.Route256.Five.OrderService/Ozon.Route256.Five.OrderService.csproj
    - dotnet build src/Ozon.Route256.Five.OrderService/Ozon.Route256.Five.OrderService.csproj --no-restore